<body class="default">

<div style="padding-top:20px"></div>

	<div class="col-md-8 col-centered">
 		<h1><span class="label label-default"> Mis couches</span></h1>
	</div>

  <div class="col-md-8 col-centered">
  <% if !params[:page].blank? %>
    <h2> Página <%= params[:page] %> </h2>
  <% end %>
</div>

  <div style="padding-top:20px"></div>


 	<% if @couches.blank? %>

    <div class="col-md-8 col-centered">

      <h1> No has publicado ningun couch ¡Qué esperas! ¡Hay muchos viajeros esperando! </h1>

    </div>

  <% else %>


  <div class="col-md-8 col-centered">

    <%= render @couches %>

  </div> <!-- col md 8 -->


<div class="col-md-8 col-centered" id="infinite-scrolling">

  <%= will_paginate @couches %>

</div>

<% end %>

</body>
