<body class="default">

  <div class="col-md-8 col-centered">

    <h3> Parece que el couch que estás buscando no existe, o fue eliminado recientemente.
    <%= link_to "Volver", :back %>
    </h3>
  </div>

</body>
