<body class="default">

  <h2> Notificaciones </h2>

  <% if !@messages.blank? %>

    <table class="table table-responsive table-stripped">

      <% @messages.each do |m| %>

        <tr class="active">
          <td> <span class="<%=m.get_icon%>" aria-hidden="true"></span></td>
          <td> <%= m.message %> </td>
          <td> <%= m.created_at.to_formatted_s(:short) %> </td>
        </tr>

      <% end %>

    </table>

  <% else %>

    <h4> No tienes novedades </h4>

  <% end %>

</body>
