<h3><span class="label label-default"> Contactos </span></h3>

<table class="table">
	<tr>
		<th> Nombre </th>
		<th> Email </th>
		<th> Rol </th>
	</tr>

	<tr>
		<td> Angelica </td>
		<td> angelica@unlp.info.com.ar </td>
		<td> Admin </td>
	</tr>
	<tr>
		<td> Marcelo </td>
		<td> marcelo@unlp.info.com.ar </td>
		<td> Admin </td>
	</tr>