<h3> ¿Qué es CouchInn? </h3>

CouchInn es un motor de busquedas de hospedajes elegante, eficiente, poderoso, libre y gratuito sobre el que corre este sitio.<br>

<h3> ¿Quienes conforman CouchInn? </h3>
CouchInn está conformado por un grupo de organizaciones no gubernamentales de la facultad de Informatica, preocupadas por las consecuencias que el turismo puede tener en todo los países, especialmente Argetnina. Venimos trabajando conjuntamente desde el 2015 a favor de un turismo sostenible y denunciando los impactos negativos de los modelos turísticos tradicionales.<br> 

<h3> ¿Cuales son las principales lineas de actuacion CouchInn? </h3>
Sus principales líneas de actuación son:<br>
- La sensibilización de la población, reclamando su responsabilidad como consumidores de servicios turísticos.<br>
- El apoyo a propuestas turísticas controladas y gestionadas por la población local, que defienden un mundo natural vivo, una sociedad justa, respetuosa y equitativa y el desarrollo de actividades verdaderamente sostenibles.<br>
- La incidencia y denuncia de las políticas públicas de desarrollo turístico que favorecen el capital internacional en detrimento de los derechos de la población anfitriona y de la sostenibilidad de los ecosistemas.<br>
- La incidencia y denuncia de las políticas corporativas de las empresas turísticas que perjudiquen el desarrollo local sostenible de las zonas de destino.<br>