<div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Más info</h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item"> Ubicado en <%= c.ubicacion %> </li>
    <li class="list-group-item">Hoy está <% if c.is_free? %> libre<% else %> ocupado<% end %>. <%= link_to "Reservar", new_reservation_path(couch_id: c.id) %> </li>

    <li class="list-group-item"> <a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Fechas no disponibles" data-content="<%= c.get_not_available_dates.join(", ") %>">Fechas no disponibles</a> </li>

    <li class="list-group-item"> Publicado <%= time_ago_in_words(c.created_at) %> atrás </li>
  </ul>

</div>




</div>
