<div class="col-md-6 col-centered">

<h1><span class="label label-default"> Buscar un couch </span></h1>

<%= link_to "Nueva búsqueda", new_searching_path %>

<!-- mostrar historial de búsquedas -->

</div>
