<body class="show-searching">

<% if !@search.user_id == current_user.id %>
  <h3> No tienes los permisos para ver esta página! </h3>
  <%= link_to "Atrás", :back %>
<% else %>

<div class="col-md-8 col-centered">

<h1>Resultados de la búsqueda </h1>
  <% if !params[:page].blank? %>
    <h4> Página <%= params[:page] %> </h4>
  <% end %>

  <%= render @couches %>

</div>

<div class="col-md-8 col-centered" id="infinite-scrolling">

  <%= will_paginate @couches %>

</div>

<% end %>

</body>
