
<h3><span class="label label-default"> Mis Calificaciones </h3>

<table class="table">
  <tr>
    <th>Tipo de Couch</th>
    <th>Ubicacion del Couch</th>
    <th>Calificacion</th>
    <th>Estrellas </th>
    <th> Descripcion </th>
  </tr>
 
  <% @miscalif.each do |article| %>
    <tr>
      <td><%= Tipoc.find(Couch.find(article.couch_id).tipo).tipo %></td>
      <td><%= Couch.find(article.couch_id).ubicacion %></td>
      <td><%= article.percentage %></td>
      <div class="ec-stars-wrapper">
      <td>
        <a href="#" style="color:blue" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
        <% if article.percentage < 2 %></td>
          <% else %>  
            <a href="#" style="color:blue" data-value="1" title="Votar con 2 estrellas">&#9733;</a>
              <% if article.percentage < 4 %></td>
              <% else %>  
                <a href="#" style="color:blue" data-value="1" title="Votar con 3 estrellas">&#9733;</a>
                <% if article.percentage < 7 %></td>
                <% else %>
                  <a href="#" style="color:blue" data-value="1" title="Votar con 4 estrellas">&#9733;</a>
                  <% if article.percentage < 9 %></td>
                    <% else %>
                    <a href="#" style="color:blue" data-value="1" title="Votar con 5 estrellas">&#9733;</a>
                  <% end %>

                <% end %>
              <% end %>
          <% end %>


    <td> <%= article.description %></td>
    </div>
    </td>
    </tr>
  <% end %>
  <% if @miscalif.size == 0 %>
    <tr> <td colspan="3"> No hay Calificaciones </td> </tr>
  <% end %>

</table>
