
<h3><span class="label label-default"> Calificaciones del Couch </h3>

<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Calificacion</th>
  </tr>
 
  <% @calificacion.each do |article| %>
    <tr>
      <td><%= User.find(article.user_id).nombre %></td>
      <td><%= article.percentage %></td>
    </tr>
  <% end %>
  <% if @calificacion.size == 0 %>
    <tr> <td colspan="3"> No hay calificaciones </td> </tr>
  <% end %>

</table>


