<h2>Se le ha enviado una solicitud</h2>

<p>
  <button type="button" class="btn btn-primary btn-lg">Aceptar solicitud</button>
  <button type="button" class="btn btn-default btn-lg">Denegar solicitud</button>
</p>