<body class="default">

<div style="padding-top:30px"></div>

  <div class="col-md-8 col-centered col-questions">

    <div class="spacer-div"></div>

    <h3> Ayuda aún en construcción </h3>

    <h5> Si deseas saber más envíanos un mail a nuestra dirección de <%= mail_to "couchinn.is@gmail.com", "ayuda y soporte técnico", subject: "Quiero saber más" %>. </h5>

    <div class="spacer-div"></div>

  </div>

</body>
