<h1>Listado de Reservas</h1>
 
<table>
  <tr>
    <th>Couch reservado</th>
 
    <th>Estado de la reserva</th>
  </tr>
 
  <% @reserva.each do |article| %>
    <tr>
      <td><%= article.couch_id %></td>
      <td><%= article.estado %></td>
    </tr>
  <% end %>
</table>