<h1>Tipocs#index</h1>
<p>Find me in app/views/tipocs/index.html.erb</p>

<div class="row">

  <div class="col-md-4">

    <%= render 'new' %>

  </div>

  <div class="col-md-4">

    <p> Modificar tipo </p>

    <% @tipos.each do |t| %>

      <%= link_to t.tipo, edit_tipoc_path(t) %>

    <% end %>

  </div>

  <div class="col-md-4">

    <p> Eliminar tipo </p>

    <% @tipos.each do |t| %>

      <%= link_to t.tipo, t, method: :delete %>

    <% end %>

  </div>

</div>
