h1, h2, h3, h4, h5, p, a {
  font-family: verdana;
  font-size: 17px;
}

body {
  padding-top: 10px;
}

.form-control {
  margin-bottom: 5px;
}

footer {

  margin-bottom: 2px;
}

.td-nav {
  padding-top:20px;
  width:270px;
  font-size: 17px;
  text-align: center;
  font-family: Helvetica;

}

a{
  text-decoration: none;

}

.spacer-div{
  padding-top:15px;
}

.spacer-p{
  padding-top:115px;
}

.spacer-li{
  padding-right:10px;
}

nav{
  height:90px;
}

li.texto{
  padding-top:20px;
}

.dropdown-ingresar{
  padding-top:27px;
}

.btn-unbordered {
  border:none;
}

.btn-primary{
  color:white;
}

em{
  color:grey;
}
