body {
  padding-top: 10px;
}

header {
    background-color: lightgray;
    font-size: 16px;
    height: 70px;
}

.form-control {
  margin-bottom: 5px;
}

footer {

  margin-bottom: 2px;
}

.td-nav {
  width:270px;
  font-size: 17px;
  text-align: center;

}

a{
  text-decoration: none;
  color: gray;
}
