
body {
  padding-top: 10px;
}

.default, .login-user, .edit-user, .show-couch, .new-couch, .edit-couch, .new-password, .edit-password, .unlock-user, .new-reservation, .reservations, .misreservas, .new-searching, .show-searching, .searchings{
  background: image-url('bg-wall2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.new-user{
  background: image-url('bg-town.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.payment-new {
  background: image-url('bg-youth.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}




.navbar .navbar-default{
  background: rgba(#E6E6E6, 0.95);
}

.form-control {
  margin-bottom: 5px;
}

footer {

  margin-bottom: 2px;
}

.td-nav {
  padding-top:20px;
  width:270px;
  text-align: center;
  font-family: Helvetica;

}

.spacer-min{
  padding-top:5px;
}

.spacer-div{
  padding-top:15px;
}

.spacer-p{
  padding-top:115px;
}

.spacer-li{
  padding-right:10px;
}

$height-navbar:95px;
.navbar-default{
  height:$height-navbar;
}

li.texto{
  padding-top:20px;
  font-size:17px;
}

.dropdown-ingresar{
  padding-top:27px;
}

.btn-unbordered {
  border:none;
}

em{
  color:grey;
}

select{
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

disabled{
  color:white;
}


.col-centered{
    float: none;
    margin: 0 auto;
}


.panel-admin{
  position:fixed;
  -moz-box-shadow:    0px 3px 10px 1px #333;
    -webkit-box-shadow: 0px 3px 10px 1px #333;
    box-shadow:         0px 3px 10px 1px #333;
}

.navbar-brand{
  position:fixed;
  left:37%;
}

select.no-radius-left{
  border-radius: 0px;
  -webkit-appearance: none;
}

.botonsolicitar {
  position:fixed;
  top:180px;
  left:30px;
  width:150px;
  height:150px;
}


.botoncalificar {
  position:fixed;
  top:220px;
  left:30px;
  width:150px;
  height:150px;
}


.botonvercalificar {
  position:fixed;
  top:260px;
  left:30px;
  width:150px;
  height:150px;
}
