<footer class="footer navbar-fixed-bottom">
	<div class="container">
		<nav class="round">
			<ul>
				<li>
         	<%= link_to 'Acerca de', acercade_path %>
         </li>
            	
         <li >
          <%= link_to 'Contacto', contacto_path %>
         </li>
           	
          <li >
           <%= link_to 'Ayuda',  root_path %>
          </li>
			</ul>
		</nav>
	</div>

</footer>